.table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  background-color: #fff;
}

.table td,
.table th {
  height: 2em;
  border-bottom: 1px solid rgba(134, 130, 130, 0.5);
  padding-left: ;
}
